<!-- templates/games.html-->

{% extends "base.html" %}

{% block content %}
<p><h1>List of all games</h1></p>
<p style="text-align:left">Check the games you've played in the list below, that you haven't added yet, to be able to receive a personalized recommendation on your profile.</p>

<html>
<head>
<title>List of Games available</title>
<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" href="//nightly.datatables.net/css/jquery.dataTables.css" type="text/css"/>
<script type="text/javascript" src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
</head>
<!--https://www.w3schools.com/bootstrap/bootstrap_alerts.asp-->
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
<body>
<div class="container">
    <div class="row">
        <form method="POST">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id_Game</th>                
                        <th>Game</th>
                        <th>Genre</th>
                        <th>Year Of Release</th>
                        <th style="width: 10px;">Critic Score</th>
                        <th><input type="checkbox" id="all" onclick="checkAll(this)"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games.items %}
                    <tr>                
                        <td name="ID_GAME" id="ID_GAME">{{ game.ID_GAME}}</td>
                        <input type="hidden" name="ID_GAME" value="{{ game.ID_GAME }}" />
                        <td name="NM_GAME"> {{ game.NM_GAME}} </td>
                        <input type="hidden" name="NM_GAME" value="{{ game.NM_GAME }}" />
                        <td name="NM_GENRE"> {{ game.NM_GENRE}} </td>
                        <td name="DT_YEAROFRELEASE"> {{ game.DT_YEAROFRELEASE}} </td>
                        <td name="NR_CRITICSCORE">{{ game.NR_CRITICSCORE}}</td>
                        <td>
                            <input type="checkbox" id="one_checkbox" name="one_checkbox" value="{{ game.NM_GAME }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id_Game</th>              
                        <th>Game</th>
                        <th>Genre</th>
                        <th>Year Of Release</th>
                        <th>Critic Score</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            {% if current_user.is_authenticated %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% else %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="submitoff()">Submit</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>

<style>
table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
    
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
</style>
<script>
    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for(var i=0; i < cbs.length; i++) {
            if(cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
        }
</script>
<script>
    $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $('#example thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
  
    // DataTable
    var table = $('#example').DataTable( {
        // "sDom": "lfrti",
        "pagingType": "full_numbers",
        colReorder: true,
        "paging":   true,
        "ordering": true,
        "info":     true,
        "columnDefs": [   
            {
                "targets": [ 3 ],
                "visible": true,
                "searchable": false
            },
            {
                "targets": [ 0 ],
                "visible": false
            }
        ],

        initComplete: function () {
            this.api().columns([2,3]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );

    // Apply the filter
    $("#example tfoot input").on( 'keyup change', function () {
        table
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();
    } );
} );
</script>
<script>
    function submiton() {
      alert("You have to check at least one game to add to your profile!");
    }
</script>
<script>
    function submitoff() {
      alert("You have to sign in to submit games to your profile!");
    }
</script>
<script>
    function qtd_checkbox() {
        var numberOfChecked = $('input:checkbox:checked').length;
        var numberNotChecked = $('input:checkbox:not(":checked")').length - 1;
        var totalCheckboxes = $('input:checkbox').length - 1;

        if (numberNotChecked < 0){
            numberNotChecked = 0
        }

    // alert(numberOfChecked);
    // alert($(":checkbox:checked").length);
    }
</script>
</body>
</html>
{% endblock %}